<div class='container'>
  <div class='span-24 last'>
    <div style="margin:5%;width:100%;height:80%">
      <h2 style="display:inline;"><b>I Am Over 18</b> is a <a href="http://diasporafoundation.org">Diaspora*</a> <em>&ldquo;Pod&rdquo;</em> by adults, <em>for adults</em>.</h2>
      <h2 style="margin-top:9px"><em>Anything</em> goes on this pod (provided it's legal)!</h2>
      <hr />
      <ul>
        <li>Hello and welcome to "I Am Over 18," a place where adults can be adults! Membership is free, and registrations are open to anyone over 18.</li>
        <li>Hola y bienvenidos a "I Am Over 18", un lugar donde los adultos pueden ser adultos! La membresía es gratuita, y las inscripciones están abiertas a cualquier persona mayor de 18 años.</li>
        <li>Bonjour et bienvenue à "I Am Over 18", un endroit où les adultes peuvent être adultes! L'adhésion est gratuite, et les inscriptions sont ouvertes à toute personne de plus de 18 ans.</li>
        <li>Hallo und herzlich willkommen zu "I Am Over 18", ein Ort, wo Erwachsene Erwachsene sein! Die Mitgliedschaft ist kostenlos und offen für alle Registrierungen über 18 sind.</li>
        <li>大家好，欢迎来到“I Am Over 18,”一个地方，大人可大人！会员是免费的，注册是开放给任何人超过18岁。</li>
        <li>Γεια σας και καλώς ήρθατε στο "I Am Over 18," ένα μέρος όπου οι ενήλικες μπορούν να είναι ενήλικες! Η ιδιότητα του μέλους είναι δωρεάν και οι εγγραφές είναι ανοιχτές σε οποιονδήποτε άνω των 18 ετών.</li>
        <li>Ciao e benvenuto a "I Am Over 18", un luogo dove gli adulti possono essere adulti! L'iscrizione è gratuita e le iscrizioni sono aperte a chiunque oltre 18.</li>
        <li>こんにちは、「I Am Over 18、「大人は大人の場所であることができる場所を歓迎します！メンバーシップは無料で、登録は18歳以上の人に開かれている。</li>
        <li>안녕하세요 "I Am Over 18 일"성인이 성인 장소가 될 수있는 위치를 환영합니다! 회원 가입은 무료이며, 등록은 18 세 이상 누구에게나 열려 있습니다.</li>
        <li>Hej og velkommen til "I Am Over 18," et sted, hvor voksne kan være voksne! Medlemskabet er gratis, og registreringer er åbne for alle over 18 år.</li>
        <li>Hallo en welkom bij 'I Am Over 18, "een plek waar volwassenen kunnen volwassenen! Het lidmaatschap is gratis, en registraties zijn open voor iedereen ouder dan 18.</li>
        <li>Здравствуйте и добро пожаловать в "I Am Over 18," место, где взрослые могут быть взрослыми! Членство бесплатно, а регистрация открыты для любого более чем 18.</li>
      </ul>
      <hr />
      <p>Content that is considered <strong><a href="/tags/nsfw">Not-Safe-For-Work</a></strong> is expressly permitted.</p>
      <p>I Am Over 18 (and Diaspora) values your privacy above all else. Diaspora doesn't make you wade through pages of settings and options just to keep your profile and posts secure.</p>
      <h4>This is a community supported Diaspora pod. Your donations keeps us running and ad free!</h4>
      <br />
      Need an account? <a href="/users/sign_up">Sign Up</a> for this pod or see <a href="http://podupti.me">Poduptime</a> to find another home!<br />
      Check out our <a href="http://blog.iamover18.net">blog</a> for the latest pod news and information.<br /> 
      You can also run your own pod! See <a href="http://diasporafoundation.org">diasporafoundation.org</a>
    </div>
  </div>
</div>
