<div class='container'>
  <div class='span-24 last'>
    <div style="margin:5%;width:100%;height:80%">
      <h2 style="display:inline;"><b>I Am Over 18</b> is a <a href="http://diasporafoundation.org">Diaspora*</a> <em>&ldquo;Pod&rdquo;</em> by adults, <em>for adults</em>.</h2>
      <h3 style="margin-top:9px">Anything goes on this pod (provided it's not illegal).</h3>
      <p>Content that is considered <strong><a href="/tags/nsfw">Not-Safe-For-Work</a></strong> is expressly permitted.</p>
      <p>I Am Over 18 (and Diaspora) makes sharing clean and easy  and this goes for privacy too. Inherently private, Diaspora doesnt make you wade through pages of settings and options just to keep your profile secure. </p>
      <h4>This is a community supported Diaspora pod. Your donations keeps us running and ad free!</h4>
      <br />
      Need an account? <a href="/users/sign_up">Sign Up</a> for this pod or see <a href="http://podupti.me">Poduptime</a> to find another home!<br />
      You can also run your own pod! See <a href="http://diasporafoundation.org">diasporafoundation.org</a>
    </div>
  </div>
</div>
